<div class="fourteen wide centered very relaxed stackable column">

  <div class="ui basic center aligned vertical segment container">
    <h1 class="ui big header">
      About Me
    </h1>
  </div>

  <div class="ui hidden section divider"></div>

  <div class="ui stackable grid">
  <div class="ui two column centered left aligned row">
  <div class="four wide column">
      <div class="ui container">
        <%= image_tag 'avatar.jpg', class: "ui medium left floated middle aligned circular image", id: "avatar" %>
      </div>
  </div>
  <div class="eleven wide column ">
      <div class="ui basic text segment" id="intro">
        I am seeking employment in software engineering where I can learn new technologies, strengthen my skills, and operate outside my comfort zone. If you’re seeking a highly passionate and autonomous software engineer please feel free to contact me. You can view my resume <script type="text/javascript" language="javascript">
        { coded = "oM@aAsAUKAspi1.9ib"
          key = "vKHXDriAdub1TwOtWEcqzxJsMNaFPQ7khGy09IYCSp2VZg4jlUoe8Rmn5LB3f6"
          shift=coded.length
          link=""
          for (i=0; i<coded.length; i++) {
            if (key.indexOf(coded.charAt(i))==-1) {
              ltr = coded.charAt(i)
              link += (ltr)
            }
            else {     
              ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
              link += (key.charAt(ltr))
            }
          }
          document.write("<a href='mailto:"+link+"'>here</a>")
          }
          //-->
          </script>. 
      </div>

  </div>
    </div>
  </div>
</div>
  <div class="ui hidden section divider"></div>
</div>


