<div class="fourteen wide centered very relaxed stackable column">

  <div class="ui basic center aligned vertical segment container">
    <h1 class="ui big header">
      About Me
    </h1>
  </div>

  <div class="ui hidden section divider"></div>

  <div class="ui stackable grid">
    <div class="two column centered left aligned computer only row">
      <div class="four wide column">
        <div class="ui container">
          <%= image_tag 'face.jpg', class: "ui medium left floated middle aligned circular image" %>
        </div>
      </div>
      <div class="eleven wide column">
        <div class="ui basic text segment" id="intro">
          I am seeking employment in software engineering where I can learn new technologies, strengthen my skills, and operate outside my comfort zone. If you’re seeking a highly passionate and autonomous software engineer please feel free to <script type="text/javascript" language="javascript"> { coded = "rl@CQyQPHQyFeS.Oei"
          key = "oHbzsXRukdna0yVqm3ejJxF61cPCS894E2iNQBwhWMLO7gATD5pGlfIYZrtUvK"
          shift=coded.length
          link=""
          for (i=0; i<coded.length; i++) {
            if (key.indexOf(coded.charAt(i))==-1) {
              ltr = coded.charAt(i)
              link += (ltr)
            }
            else {     
              ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
              link += (key.charAt(ltr))
            }
          }
          document.write("<a href='mailto:"+link+"'>contact me</a>")
        }</script>. You can view my resume <a href="https://www.dropbox.com/s/uwrvsp2uplrz7ee/DerekGersonCV.pdf?dl=0">here</a>. 
      </div>
    </div>
    <div class="tablet mobile only row">
      <div class="ui container">
        <%= image_tag 'face.jpg', class: "ui medium center aligned circular image" %>
      </div>
    </div>
    <div class="tablet mobile only row">
      <div class="ui basic justified text segment" id="intro">
        I am seeking employment in software engineering where I can learn new technologies, strengthen my skills, and operate outside my comfort zone. If you’re seeking a highly passionate and autonomous software engineer please feel free to <script type="text/javascript" language="javascript"> { coded = "rl@CQyQPHQyFeS.Oei"
        key = "oHbzsXRukdna0yVqm3ejJxF61cPCS894E2iNQBwhWMLO7gATD5pGlfIYZrtUvK"
        shift=coded.length
        link=""
        for (i=0; i<coded.length; i++) {
          if (key.indexOf(coded.charAt(i))==-1) {
            ltr = coded.charAt(i)
            link += (ltr)
          }
          else {     
            ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
            link += (key.charAt(ltr))
          }
        }
        document.write("<a href='mailto:"+link+"'>contact me</a>")
      }</script>. You can view my resume <a href="https://www.dropbox.com/s/uwrvsp2uplrz7ee/DerekGersonCV.pdf?dl=0">here</a>. 
    </div>
    </div>
  </div>


  

</div>
</div>
<div class="ui hidden section divider"></div>