<div class="fourteen wide centered very relaxed stackable column">

  <div class="ui basic center aligned vertical segment container">
    <h1 class="ui massive header">
      <span>Want to work with me?</span>
    </h1>
    <div class="ui large header">
      <span>
        I'm seeking new projects and opportunities. <br>
        Contact me if you'd like to work together.
      </span>
    </div>
  </div>

</div>

