<div class="six wide column">
  <div class="basic vertical padded inverted center aligned container">
    <div id="profile" class="ui vertical center aligned basic segment">
      <h1>Derek Gerson</h1>
      <h2>Software Engineer</h2>
      <h3> SAN FRANCISCO, CA </h3>
      <a href="mailto:hi@derekgerson.com?Subject=I%20was%20in%%2020your%20site%20and%20"> hi@derekgerson.com </a>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui top attached middle aligned ev enly divided centered grid">
      <button class="ui icon large button">
        <i class="mail outline large icon"></i>
      </button>
      <button class="ui icon large button">
        <i class="twitter large icon"></i>
      </button>
      <button class="ui icon large button">
        <i class="github large icon"></i>
      </button>
      <button class="ui icon large button">
        <i class="linkedin large icon"></i>
      </button>
    </div>
  </div>
</div>

<div class="six wide column">
  <div id="tagline-wrapper" class="center aligned container">
    <div id="tagline" class="ui justified text basic segment">
      <span>
        Hi! I'm Derek, a Brazilian software engineer from California. I am currently looking to join a team that works outside its comfort zone to build products that are simple, yet powerful. In my spare time I build SaaS products to continue learning and cement critical skills. 
      </span>
    </div>
  </div>
</div>