<div class="six wide column">
  <div class="basic vertical padded inverted center aligned container">
    <div id="profile" class="ui vertical center aligned basic segment">
      <h1>Derek Gerson</h1>
      <h2>Software Engineer</h2>
      <h3> SAN FRANCISCO, CA </h3>
      <script type="text/javascript" language="javascript">
        { coded = "rj@cblbToblZme.Lmn"
          key = "btjFvWkEmRJrsUCLGIN0VA58TynQ4lZqaDgYzx367dwXeBiS21fuoOMhPp9cHK"
          shift=coded.length
          link=""
          for (i=0; i<coded.length; i++) {
            if (key.indexOf(coded.charAt(i))==-1) {
              ltr = coded.charAt(i)
              link += (ltr)
            }
            else {     
              ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
              link += (key.charAt(ltr))
            }
          }
        document.write("<a href='mailto:"+link+"'>hi@derekgerson.com</a>")
        }
      </script>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui top attached middle aligned ev enly divided centered grid">
      <button class="ui icon large button">
        <i class="mail outline large icon"></i>
      </button>
      <button class="ui icon large button">
        <i class="twitter large icon"></i>
      </button>
      <button class="ui icon large button">
        <i class="github large icon"></i>
      </button>
      <button class="ui icon large button">
        <i class="linkedin large icon"></i>
      </button>
    </div>
  </div>
</div>

<div class="six wide column">
  <div id="tagline-wrapper" class="center aligned container">
    <div id="tagline" class="ui justified text basic segment">
      <span>
        Hi! I'm Derek, a Brazilian software engineer from California. I am currently looking to join a team that works outside its comfort zone to build products that are simple, yet powerful. In my spare time I build SaaS products to continue learning and cement critical skills. 
      </span>
    </div>
  </div>
</div>