<div class="ui vertical bottom attached basic segment">

  <div class="ui centered page grid">
      <div class="ui two column stackable grid">

        <div class="four wide top aliged column">

          <div class="basic vertical text container segment">
            <h2> Projects </h2>
            <p>
            I build web apps primarily with Rails, Sinatra, Postgres, and SCSS
            <br>
            Click on a project to view its details
            </p>
          </div>
          

        </div>

        <div class="ten wide column">
          <div class="basic vertical inverted container segment">
          <div class="ui cards">

            <div id="faeree-project" class="ui card" href="http://cleansweep.tisderek.com">
              <div class="ui medium image">
                <img src="http://imgur.com/19s4Rf8.png">
              </div>
              <div class="content">
                <a class="header">CleanSweep</a>
                <div class="meta">
                  <span class="date">2015</span>
                </div>
                <div class="description">
                  In SF and tired of street sweeping tickets? This is for you.
                </div>
              </div>
              <div class="extra content">
                <a>
                  <i class="checkered flag icon"></i>
                  v0.5 Deployed
                </a>
              </div>

            </div>
          </div>

          
          </div>
          
        </div>
        </div>

      </div>
    </div>
</div>
