<div class="four wide left float very relaxed column">
  <div class="ui center aligned container">
    <div class="ui vertical text padded segment">
      <h1 id="embossed "class="ui big header">
        Projects
      </h1>
      <div class="ui hidden divider"></div>
      <div class="ui content">
        <h3>
          I build web apps primarily with Rails, Postgres, React, and SASS
        </h3>
        <div class="ui hidden divider"></div>
      </div>
    </div>
  </div>
</div>
<div class="ten wide right float column">
  <div class="ui two doubling cards">

    <div class="ui card" href="http://cleansweep.tisderek.com">
      <div class="ui image">
        <%= image_tag "faeree.png" %>
      </div>
      <div class="content">
        <div class="header">Faeree</div>
        <div class="meta">
          <span class="date">2015</span> 
        </div>
        <div class="description">
          To help SF drivers avoid street sweeping tickets, Faeree lets users know the upcoming street sweeping times given a vehicle’s location. The app sends time-sensitive notifications and personalized texts to contacts with whom users share their vehicle.
        </div>
      </div>
      <div class="extra content">
        <span class="left floated cubes">
          <i class="code icon"></i>
          Ruby, Sinatra, AJAX, jQuery, PostgreSQL
        </span>
      </div>
      <div class="extra content">
        <span class="left floated database">
          <i class="external icon"></i>
          faeree.co
        </span>
      </div>
      <div class="extra content">
        <span class="left floated fork">
          <i class="fork icon"></i>
          Source
        </span>
      </div>
    </div>

    <div class="ui card" href="http://cleansweep.tisderek.com">
      <div class="ui image">
        <%= image_tag "trails.png" %>
      </div>
      <div class="content">
        <div class="header">
          Trails
        </div>
        <div class="meta">
          <span class="date">2015</span>
        </div>
        <div class="description">
          Hikers can use this app as a digital journal for their outdoor adventures. Using a map interface, users can keep track of their past hikes, add notes, and share with friends.
        </div>
      </div>
      <div class="extra content">
        <span class="left floated cubes">
          <i class="code icon"></i>
          Ruby, Mapbox.JS, PostgreSQL
        </span>
      </div>
      <div class="extra content">
        <span class="left floated database">
          <i class="eye icon"></i>
          Demo
        </span>
      </div>
      <div class="extra content">
        <span class="left floated fork">
          <i class="fork icon"></i>
          Source
        </span>
      </div>
    </div>
  </div> 
</div>
