<div id="main-wrapper" class="ui vertically divided stackable grid">

  <div id="header-section" class="two column centered row">
    <%= render "header" %>
  </div>

  <div id="projects-section" class="two column centered row">
    <div class="ui hidden section divider"></div>
    <%= render "projects" %>
  </div>

  <div id="about-section" class="centered row">
    <%= render "about" %>
  </div>

</div>