<div class="ui vertically divided stackable grid">
  <div id="header-section" class="two column centered row">
    <div class="six wide center aligned column">
      <div class="basic vertical container segment">
      <div id="profile" class="ui text container">
          <h1>Derek Gerson</h1>
          <h2>Software Engineer</h2>
          <h3> SAN FRANCISCO, CA </h3>
          <a href="mailto:hi@derekgerson.com?Subject=I%20was%20in%%2020your%20site%20and%20"> hi@derekgerson.com </a>
        </div>
      </div>
      <div class="ui hidden divider"></div>
      <div class="ui top attached middle aligned evenly divided centered grid">
        <button class="ui icon big button">
          <i class="mail outline big icon"></i>
        </button>
        <button class="ui icon big button">
          <i class="twitter big icon"></i>
        </button>
        <button class="ui icon big button">
          <i class="github big icon"></i>
        </button>
        <button class="ui icon big button">
          <i class="linkedin big icon"></i>
        </button>
      </div>
    </div>
  <div class="six wide column">
    <div class="basic vertical container padded inverted segment">
      <div id="tagline" class="ui middle aligned justified inverted text container">
        Hi! I'm Derek, a software engineer from California. I am looking to join a team that works outside its comfort zone to build products that are simple, yet powerful. You can view my resume here. In my spare time I build SaaS products to continue learning and cement critical skills. 
      </div>
    </div>
  </div>
</div>
<div class="three column row">
  <div class="column">
    <p></p>
  </div>
  <div class="column">
    <p></p>
  </div>
  <div class="column">
    <p></p>
  </div>
</div>
</div>