<div class="ui vertically divided doubling grid">
  <div id="header-section" class="two column centered row">
    <div class="six wide column">
      <div class="basic vertical container segment">
        <div class="title ">
          <div id="name" class="ui middle aligned vertically centered inverted header">
            Derek Gerson
          </div>
          <div id="role-city" class="ui middle aligned vertically centered inverted header">
            Software Engineer
            <div class="sub header">
              SAN FRANCISCO, CA
            </div>
          </div>
              <div id="email" class="ui middle aligned center aligned header">
          <span><a href="mailto:hi@derekgerson.com?Subject=I%20was%20in%%2020your%20site%20and%20"> hi@derekgerson.com </a></span>
          </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui top attached middle aligned evenly divided centered grid">
          <button class="ui icon big button">
            <i class="twitter icon"></i>
          </button>
          <button class="ui icon big button social-link"><i class="github icon"></i></button>
          <button class="ui icon big button"><i class="linkedin icon"></i></button>
        </div>
      </div>
    </div>
    <div class="six wide column">
      <div class="basic vertical container padded inverted segment">
        <div id="tagline" class="ui middle aligned vertically centered justified inverted text container">
            Hi! I'm Derek, a passionate software engineer from California. Currently, I'm looking to add steam to an awesome team with a purpose. I also build self-funded SaaS products from scratch in my spare time.
        </div>
      </div>
    </div>
  </div>
  <div class="three column row">
    <div class="column">
      <p></p>
    </div>
    <div class="column">
      <p></p>
    </div>
    <div class="column">
      <p></p>
    </div>
  </div>
</div>