

<div class="ui middle aligned centered fluid grid" id="project-wrapper">
  <div class="sixteen wide ui column">

    <!--  <div class="bottom attached vertical segment">
      <div class="ui equal width grid" id="project-img-grid">
        <div class="column">
          <%#= image_tag "faeree.png", class:"ui fluid image" %>
        </div>
        <div class="column">
          <%#= image_tag "faeree.png", class:"ui fluid image" %>
        </div>
        <div class="column">
          <%#= image_tag "faeree.png", class:"ui fluid image" %>
        </div>
        <div class="column">
          <%#= image_tag "faeree.png", class:"ui fluid image" %>
        </div>
      </div> 
    </div> -->
    <div class="ui hidden section divider"></div>
    
    <div class="attached vertical segment" class="project-about">
      <div class="ui centered text container">
        <div class="ui huge blue header">
          Project Title
        </div>
        <div class="hidden ui divider"></div>
        <div class="content">
          <p> <b> The problem: Bacon ipsum dolor amet brisket fatback flank, pig hamburger tongue swine bacon alcatra pork loin jerky short loin. Meatball bacon pork loin, jerky tongue turkey shank t-bone pig short loin. Jerky rump porchetta andouille ham shoulder tenderloin. Swine tri-tip shank, tongue short loin boudin biltong frankfurter pork picanha brisket. Salami corned beef pork loin, beef ground round frankfurter filet mignon shank.

            Pig chuck frankfurter andouille salami leberkas. Turkey short loin swine landjaeger, t-bone tri-tip porchetta pork salami venison. Jowl pork belly pork chop ground round, boudin venison ball tip sausage brisket kevin pastrami andouille. Shank tongue kevin, t-bone strip steak filet mignon doner corned beef ground round hamburger drumstick shoulder.</b> 
          </p>
        </div>
      </div>
    </div>
    <div class="ui hidden section divider"></div>

    <div class="attached vertical segment">
      <div class="ui centered text container">
        <div class="ui huge blue header">
          Artifacts
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui grid">
          <div class="three column row">
          <div class="column">
            <div class="ui fluid card">
              <%= image_tag  "faeree.png", class:"ui image"%>
              <div class="content">
                <a class="header">Useflow</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui fluid card">
              <%= image_tag  "faeree.png", class:"ui image"%>
              <div class="content">
                <a class="header">Schema</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui fluid card">
              <%= image_tag  "faeree.png", class:"ui image"%>
              <div class="content">
                <a class="header">User stories</a>
              </div>
            </div>
          </div>
        </div>
        </div>
      <div class="ui hidden section divider"></div>
      <button class="circular huge ui icon button" id="back-btn">
        <i class="icon circle left arrow"></i>
      </button> 
      </div>

    </div>

  </div>
</div>
